
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar{
  position: relative;
  top: 10px;
    width: 95%;
  z-index: 100;
  margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 5%;
    align-items: center;
    background: #0075FF;
    border-radius: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    height: 5rem;
    font-weight: 500;
}

.logo {
    color: #FFF;
    font-size: 22px;
    font-weight: 700;
}

.navbarul {
    display: flex;
    gap: 1rem;
}

.navbarul li {
    display: inline-block;
}

.navbarul li .navbarlink {
    text-decoration: none;
    color: #fff;
    padding: 8px 30px;
    border-radius: 7px;
    transition: all .3s ease;
}

.navbarul li .navbarlink:hover,
.navbarul li .navbarlink.active {
    color: #18283B;
    background: #fff;
}

#icon {
    background-color: #0075FF;
    padding: 5px 7px 3px 7px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease;
}

#icon svg {
    color: #FFF;
    height: 28px;
    transition: all .3s ease;
}

#icon:hover {
    background: #FFF;
}

#icon:hover svg {
    color: #0075FF;
}

#checkbox,
#icon {
    display: none;
}
/* Youtube link */
.link {
    position: fixed;
    background-color: #D12322;
    padding: 23px 40px;
    right: -100px;
    border-radius: 5px;
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(-90deg);
    font-size: 18px;
    font-weight: 500;
    color: #FFF;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .1s ease-in-out;
}

.link i {
    padding-left: 7px;
}

.link:hover {
    text-decoration: underline;
    background-color: black;
}
@media screen and (max-width: 768px) {
    nav {
        border-bottom: 1px solid #0075FF;
        transition: all 1s;
    }

    .navbarul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 5.5rem);
        background-color: #0075FF;
        left: 0;
        top: 0;
        text-align: center;
        display: none;
        margin-top: 5.5rem;
        border-radius: 1rem;
    }

    .navbarul li {
        display: block;
        padding: 10px 15px;
    }

    .navbarul li .navbarlink {
        display: block;
        padding: 10px 0;
    }

    #icon {
        display: block;
    }

    #checkbox:checked~.navbarul {
        display: block;
    }
}